
        /* css reset */
        * {
            margin: 0;
            padding: 0;
        }
        html{
            scroll-behavior: smooth;
        }

        /* CSS variable */
        :root {
            --navbar-height: 59px;
        }

        /* Navigation bar */

        #navbar {
            display: flex;
            align-items: center;
            position: sticky;
            top: 0px;
        }

        #navbar::before {
            content: "";
            background-color: black;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.4;

        }

        /*  Navigation Bar:logo and image */
        #logo {
            margin: 2px 14px;
            height: 60px;
        }

        #logo img {
            margin: 3px 3px;
            height: 50px;
            width: 50px;
            border: 2px solid red;
        }

        /* Navigation Bar:list styling */

        #navbar ul {
            display: flex;
            font-family: 'bree serif', serif;
        }

        #navbar ul li {

            list-style: none;
            font-size: 1.3rem;
        }

        #navbar ul li a {
            color: rgb(0, 0, 0);
            display: block;
            padding: 3px 15px;
            border-radius: 10px;
            text-decoration: none;
        }

        #navbar ul li a:hover {
            color: rgb(255, 255, 255);
            background-color: rgb(0, 0, 0);
        }

        /* Home section */
        #home {
            /* background: url('../img/background.jpg') no-repeat center center/cover; */
            display: flex;
            flex-direction: column;
            padding: 3px 100px;
            /* height:565px; */
            height:300px;
            justify-content: center;
            align-items: center;
        }
        

        #home::before {
            content: "";
            position: absolute;
            background: url('../img/background.jpg')no-repeat center center/cover;
            background: cover;
            top: 0;
            left: 0;
            /* height: 642px;  */
            height: 377px; 
            width: 100%; 
            z-index: -1;
            opacity : 0.89;

        }

        #home h1 {
            color: rgb(0, 0, 0);
            text-align: center;
            font-family: 'bree serif', serif;

        }

        #home p {

            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 1.2rem;
            font-family: 'bree serif', serif;
        }

        /* Services section */

        #services {
            margin: 3px;
            display: flex;
        }
 
        #services .box{
            border:2px  solid rgb(204 158 184);;
            padding: 25px;
            margin: 10px 12px;
            border-radius: 20px; 
            background-color:#d2dff1;
         }

        #services .box img {
            height: 100px; 
            margin: auto;
            display: block;
        }
        #services .box p{
            font-family: 'bree serif', serif;
        }
        /* Client section */

        #client-section{
            position: relative;
            height: 230px;
        }
        #client-section::before{
            content: "";
            position: absolute;
            background: url('../img/bg.jpg')no-repeat center center/cover;
            height: 230px;
            width: 100%;
            z-index: -1;
            opacity:0.6 ;
        }
        #clients{
            display: flex;
            justify-content: center;
            align-items: center ;

        }
        .client-item{
            padding: 10px;
        }
        #clients img{
            height: 65px;
        }
        /* #clients img{
            height:auto;
        } */
        /* contact section */
         #contact{
            position: relative;
        }
        #contact::before{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
            background: url('../img/contact.jpg') no-repeat center center/cover 
        }
        #contact-box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 34px;
        }
        #contact-box input,
        #contact-box textarea {
            width: 100%;
            padding: 0.5rem;
            border-radius: 10px;
            font-size: 1.1rem;
        }
        #contact-box form{
            width: 40%;
            
        }
        #contact-box lable{
            font-size: 1.3rem;
            font-family: 'bree serif', serif;

        } 

        footer{
            background: #000;
            color: white;
            padding:7px 20px;
        } 

        
        /* utility classes */
        .h-primary {
            font-size: 2.8rem;
            padding: 12px;
            font-family: 'bree serif', serif; 

        }

        .h-secondary {
            font-size: 1.6rem;
            padding: 4px;
            font-family: 'bree serif', serif;
            border-radius: 10px;
        }

        .btn {
            padding: 6px 20px;
            border: 2px solid white;
            background-color: #4a3635;
            color: white;
            margin: 17px;
            border-radius: 10px;
            font-size: 1.5rem;
            cursor: pointer;
        }


        .center {
        
              text-align:center;
        }


        